.cell {
  border: 2px solid #3a3a3c;
  
  width: 70px;
  height: 70px;
  font-size: 40px;
  
  display: grid;
  place-items: center;
}

.correct {
  background-color: #538d4e;
}
.incorrect {
  background-color: #3a3a3c;
}
.misplaced {
  background-color: #b59f3b;
}