#container {
  // max-width: 1200px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: background-color 0.2s ease, filter 0.2s ease;

  &.dimmed {
    background-color: rgba(0, 0, 0, .5);
    filter: blur(5px) brightness(30%);
    pointer-events: none;
  }
}